@model lesson05.Models.Entities.Kitaplar

<h1>@Model.Adi</h1>
<p>@Model.Ozet</p>
<p>@Model.YazarId</p>
<p>@Model.YayineviId</p>
<p>@Model.YayinTarihi</p>
<p>@Model.DilId</p>
<p>@Model.SayfaSayisi</p>
<p>@Model.Resim</p>